body{
    background: #000000;}


main
{
margin:40px;
display:flex;
}

#barradenavegacao
{
    background: #191a18;
    height: 100px;
    font-family: "myriad-pro", sans-serif;
font-weight: 700;
font-style: normal;
    
}
form {margin:30px;
    margin-bottom:20px;
    margin-left: 20px;
}
#paginadecompra
{ 
 margin: auto;
width: 1140px;
display: flex;    
}


img {
    max-width: 800px;
    
}
h3{color: white;
    font-family: "kiln-serif", sans-serif;
font-weight: 400;
font-style: normal;
    margin-left:150px;

}

#informacoes{
    background-color:#191a18;
 color:white;
font-family: "myriad-pro", sans-serif;
font-weight: 700;
font-style: normal;
    margin-left:100px;
    padding: 20px;
    margin-bottom: 20px;
  
}

.comprar{
    margin-left: 100px;
}


a {color: white;
font-family: "myriad-pro", sans-serif;
font-weight: 700;
font-style: normal;}

#aplicativonobite
{
    
}